services:
  mongo:
    restart: always
    volumes:
      - ./mongodb:/data/db
      - ./configdb:/data/configdb

  torela:
    restart: always
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.torela.rule=Host(`api.torela.ee`)"
      - "traefik.http.routers.torela.entrypoints=websecure"
      - "traefik.http.routers.torela.tls.certresolver=letsencrypt"

networks:
  proxy:
    external: true
