---
layout: default
---

{{ content }}

<style>
  @import '/styles/calendar.css';
  @import '/styles/booking.css';
</style>
<div id="calendar-wrap" class="block"></div>
<script src="/js/calendar.js"></script>
<script src="/js/booking.js"></script>

<form class="booking-dialog block">
  <a class="close">×</a>
  <label><b id="when"></b> <span id="time"></span></label>
  <input name="childName" type="text" maxlength="64" required>
  <input name="childAge" type="number" min="0" max="100" required>
  <input name="parentName" type="text" maxlength="64" required>
  <input name="email" type="email" maxlength="64" required>
  <input name="phone" type="tel" maxlength="64" required>
  <label><b id="services"></b></label>
  <label><input type="checkbox" name="photographer"> <span id="photographer"></span></label>
  <button id="book"></button>
</form>

<script>
  var bookableEvents = [
      {start: '10:00', end: '13:00'},
      {start: '14:00', end: '17:00', weekendOnly: true},
      {start: '18:00', end: '21:00'}
    ]
  var bookings = {}
  new Calendar('calendar-wrap', '{{page.lang}}', bookableEvents, bookings)

  var bookingDialog = new BookingDialog('.booking-dialog', '{{page.lang}}', bookings)

  $(document).on('click', '.event', function() {
    bookingDialog.open(this.id)
  })
</script>
