---
layout: base
---
<header>
  <a href="{%if page.lang == 'et'%}/{%else%}/{{ page.lang }}{%endif%}">
    <img src="/img/logo.png" class="logo" alt="Torela mängumaa">
  </a>

  {%if page.lang == 'et'%}
  <nav>
    <a href="/">Meist</a>
    <a href="/galerii/">Galerii</a>
    <a href="/hinnakiri/">Hinnakiri</a>
    <a href="/lisateenused/">Lisateenused</a>
    <a href="/syndmused/">Sündmused</a>
    <a href="/huviringid/">Huviringid</a>
    <a href="/kontakt/">Kontakt</a>
    <span class="lang">
      <a href="{% if page.en %}{{page.en}}{%else%}/en/{%endif%}" hreflang="en">EN</a>
      <a href="{% if page.ru %}{{page.ru}}{%else%}/ru/{%endif%}" hreflang="ru">RU</a>
      <iframe src="https://brandimpact.org/widget/brand/torela?lang={{ page.lang }}" class="brandimpact"></iframe>
    </span>
  </nav>
  <a href="/hinnakiri/#calendar" class="book-now button">Broneeri nüüd</a>
  {%endif%}

  {%if page.lang == 'en'%}
  <nav>
    <a href="/en/">About</a>
    <a href="/en/gallery/">Gallery</a>
    <a href="/en/prices/">Prices</a>
    <a href="/en/services/">Extra Services</a>
    <a href="/en/events/">Events</a>
    <a href="/en/hobby-classes/">Hobby Classes</a>
    <a href="/en/contact/">Contact</a>
    <span class="lang">
      <a href="{% if page.et %}{{page.et}}{%else%}/{%endif%}" hreflang="et">EE</a>
      <a href="{% if page.ru %}{{page.ru}}{%else%}/ru/{%endif%}" hreflang="ru">RU</a>
      <iframe src="https://brandimpact.org/widget/brand/torela?lang={{ page.lang }}" class="brandimpact"></iframe>
    </span>
  </nav>
  <a href="/en/prices/#calendar" class="book-now button">Book now</a>
  {%endif%}

  {%if page.lang == 'ru'%}
  <nav>
    <a href="/ru/">О нас</a>
    <a href="/ru/gallery/">Галерея</a>
    <a href="/ru/prices/">Цены</a>
    <a href="/ru/services/">Доп. Услуги</a>
    <a href="/ru/events/">События</a>
    <a href="/ru/hobby-classes/">Кружки</a>
    <a href="/ru/contact/">Контакт</a>
    <span class="lang">
      <a href="{% if page.et %}{{page.et}}{%else%}/{%endif%}" hreflang="et">EE</a>
      <a href="{% if page.en %}{{page.en}}{%else%}/en/{%endif%}" hreflang="en">EN</a>
      <iframe src="https://brandimpact.org/widget/brand/torela?lang={{ page.lang }}" class="brandimpact"></iframe>
    </span>
  </nav>
  <a href="/ru/prices/#calendar" class="book-now button">Бронировать</a>
  {%endif%}
</header>

<main class="block {{ page.title | downcase }}">
  <h1>{{ page.title }}</h1>
  {{ content }}
</main>

<footer class="block">
  <div style="float: right">
    {{ site.address }} |

    <a href="mailto">{{ site.email | replace: '@', '$'}}</a> |

    <a href="tel:+372 {{ site.phone1 }}">{{ site.phone1 }}</a> |
    <a href="tel:+372 {{ site.phone2 }}">{{ site.phone2 }}</a>
    <a href="https://www.facebook.com/Torelamangutuba/" target="_blank"><img src="/img/fb-icon.png" alt="Facebook page" class="icon"></a>
    <a href="https://www.instagram.com/torelamangutuba/" target="_blank"><img src="/img/instagram-icon.png" alt="Instagram profile" class="icon"></a>
  </div>

  {%if page.lang == 'et'%}
    <div class="tagline">Torela OÜ - Laste mängutuba <a href="/kontakt/">Kalamaja ja Pelgulinna vahel</a></div>
  {%endif%}

  {%if page.lang == 'en'%}
    <div class="tagline">Torela OÜ - Children's playroom between <a href="/en/contact/">Kalamaja and Pelgulinn</a></div>
  {%endif%}

  {%if page.lang == 'ru'%}
    <div class="tagline">Torela OÜ - Игровая комната между <a href="/ru/contact/">Каламая и Пельгулинна</a></div>
  {%endif%}
</footer>
