<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove:'index.html' }}">
  <title>{{ site.name }} - {{ page.title }}</title>
  {%if page.keywords != null%}<meta name="keywords" content="{{ page.keywords }}">{%endif%}
  {%if page.description != null%}<meta name="description" content="{{ page.description }}">{%endif%}
  <link rel="stylesheet" href="/styles/torela.css">
  <link rel="shortcut icon" href="/img/logo.png">
</head>
<body>
  <header>
    <img src="/img/logo.png" class="logo" alt="Torela logo">

    {%if page.lang == 'et'%}
    <nav>
      <a href="/">Tutvustus</a>
      <a href="/galerii/">Galerii</a>
      <a href="/hinnakiri/">Hinnakiri</a>
      <a href="/broneerimine/">Broneerimine</a>
      <a href="/syndmused/">Sündmused</a>
      <!--<a href="/kodukord/">Kodukord</a>-->
      <a href="/kontakt/">Kontakt</a>
      <span class="lang">
        <a href="/en/">EN</a>
        <a href="/ru/">RU</a>
      </span>
    </nav>
    {%endif%}

    {%if page.lang == 'en'%}
    <nav>
      <a href="/en/">About</a>
      <a href="/en/gallery/">Gallery</a>
      <a href="/en/prices/">Prices</a>
      <a href="/en/booking/">Booking</a>
      <a href="/en/events/">Events</a>
      <!--<a href="/en/rules/">Rules</a>-->
      <a href="/en/contact/">Contact</a>
      <span class="lang">
        <a href="/">EE</a>
        <a href="/ru/">RU</a>
      </span>
    </nav>
    {%endif%}

    {%if page.lang == 'ru'%}
    <nav>
      <a href="/ru/">О нас</a>
      <a href="/ru/gallery/">Галерея</a>
      <a href="/ru/prices/">Цены</a>
      <a href="/ru/booking/">Бронировать</a>
      <a href="/ru/events/">События</a>
      <!--<a href="/ru/rules/">Правила</a>-->
      <a href="/ru/contact/">Контакт</a>
      <span class="lang">
        <a href="/">ET</a>
        <a href="/en/">EN</a>
      </span>
    </nav>
    {%endif%}
  </header>

  <main class="block {{ page.title | downcase }}">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </main>

  <footer>
    {%if page.lang == 'et'%}
    <form id="subscribe" class="block" action="mailto:{{ site.email }}?subject=Liitun uudiskirjaga">
      <label for="email">Tahad saada rohkem infot avamise hetkel?</label>
      <div class="form-row">
        <input id="email" name="email" type="email" placeholder="E-post" required>
        <button>Liitu</button>
      </div>
      <small>Me ei spämmi!</small>
    </form>
    {%endif%}
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
  <script src="/js/torela.js" defer></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.ga }}', 'torela.ee');
    ga('send', 'pageview');
  </script>
</body>
</html>
