---
layout: default
---

<div id="big-image">
  <div class="prev">&lt;</div>
  <img src="/galerii/gallery1.jpg">
  <div class="next">&gt;</div>
</div>

<div class="thumbs">
  <img src="/galerii/gallery1.jpg" class="active">
  <img src="/galerii/gallery2.jpg">
  <img src="/galerii/gallery3.jpg">
  <img src="/galerii/gallery4.jpg">
  <img src="/galerii/IMG_20190411_132035.jpg">
  <img src="/galerii/IMG_20190413_193957.jpg">
  <img src="/galerii/IMG_20190413_183032.jpg">
  <img src="/galerii/IMG_20190413_164759.jpg">
  <img src="/galerii/IMG_20190411_134016 (1).jpg">
  <img src="/galerii/IMG_20190411_132145.jpg">
</div>
