---
layout: default
---

<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/et_EE/sdk.js#xfbml=1&version=v3.2&appId=207997096039685&autoLogAppEvents=1"></script>
<div class="fb-page" data-href="https://www.facebook.com/Torelamangutuba/" data-tabs="timeline" data-width="400" data-height="750" data-small-header="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Torelamangutuba/" class="fb-xfbml-parse-ignore"></blockquote></div>

{{ content }}

<form id="subscribe" class="block">
  <label for="email">Liitu meie uudiskirjaga!</label>
  <div class="form-row">
    <input id="email" name="email" type="email" placeholder="E-post" required>
    <button>Liitu</button>
  </div>
  <small>Me ei spämmi!</small>
</form>

<script src="/js/api.js"></script>
<script>
  $(function() {
    var form = $('#subscribe').on('submit', function(e) {
      e.preventDefault()
      new API().saveContact({email: $('#email', form).val()})
        .then(() => form.slideUp())
    })
  })
</script>
