---
layout: default
---

<video muted loop controls width="640" height="360" src="/img/intro3.mp4"></video>

<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/et_EE/sdk.js#xfbml=1&version=v3.2&appId=207997096039685&autoLogAppEvents=1"></script>
<div class="fb-page" data-href="https://www.facebook.com/Torelamangutuba/" data-tabs="timeline" data-width="400" data-height="450" data-small-header="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Torelamangutuba/" class="fb-xfbml-parse-ignore"></blockquote></div>

{{ content }}

<div class="partners">
{% for image in site.static_files %}
  {% if image.path contains '/partnerid/' %}
    <div class="partner" style="background-image: url({{ image.path }})"></div>
  {% endif %}
{% endfor %}
</div>

<form id="subscribe" class="block">
  <label for="email">Liitu meie uudiskirjaga!</label>
  <div class="form-row">
    <input id="email" name="email" type="email" placeholder="E-post" required>
    <button>Liitu</button>
  </div>
  <small>Spämmkirju ei saada! </small>
</form>

<script src="/js/api.js"></script>
<script>
  $(function() {
    var form = $('#subscribe').on('submit', function(e) {
      e.preventDefault()
      new API().saveContact({email: $('#email', form).val(), lang: '{{page.lang}}'})
        .then(function () {form.slideUp()})
    })
    var video = $('video')
    video.attr('src', video.attr('src') + '#t=' + Math.round((Math.random() * 140)))
    video.on('canplay', function() { this.play() })
  })
</script>
