---
layout: default
---

<video muted loop controls width="640" src="/img/intro3.mp4"></video>

<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/et_EE/sdk.js#xfbml=1&version=v3.2&appId=207997096039685&autoLogAppEvents=1"></script>
<div class="fb-page" data-href="https://www.facebook.com/Torelamangutuba/" data-tabs="timeline" data-width="400" data-height="450" data-small-header="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Torelamangutuba/" class="fb-xfbml-parse-ignore"></blockquote></div>

{{ content }}

<div class="partners">
    <a target="_blank" href="https://kiigesellid.ee/" style="background-image: url(/partnerid/kiigesellid.png)"></a>
    <a target="_blank" href="https://krutskidesign.ee/" style="background-image: url(/partnerid/krutski.png)"></a>
    <a target="_blank" href="https://www.lala-lastela.ee/" style="background-image: url(/partnerid/lalalastela.png)"></a>
    <a target="_blank" href="https://www.lelud.ee/" style="background-image: url(/partnerid/lelud.png)"></a>
    <a target="_blank" href="https://loodusvagi.abestore.ee/" style="background-image: url(/partnerid/loodusvagi.png)"></a>
    <a target="_blank" href="https://loond.eu/" style="background-image: url(/partnerid/loond.png)"></a>
    <a target="_blank" href="https://lulukids.ee/" style="background-image: url(/partnerid/lulukids.png)"></a>
    <a target="_blank" href="https://www.miu.ee/" style="background-image: url(/partnerid/miu1.png)"></a>
    <a target="_blank" href="https://nagumuinasjutus.ee/" style="background-image: url(/partnerid/nagumuinasjutus.png)"></a>
    <a target="_blank" href="https://www.salvest.ee/" style="background-image: url(/partnerid/salvest.png)"></a>
    <a target="_blank" href="https://funkyapple.eu/" style="background-image: url(/partnerid/FruitFunk.png)"></a>
    <a target="_blank" href="https://www.sirena.ee//" style="background-image: url(/partnerid/sirena.png)"></a>
    <a target="_blank" href="https://liviamordant.com/" style="background-image: url(/partnerid/uneliiva.png)"></a>
</div>

<script src="/js/api.js"></script>
{% include subscribe.html %}

<script>
  $(function() {
    var video = $('video')
    video.attr('src', video.attr('src') + '#t=' + Math.round((Math.random() * 140)))
    video.on('canplay', function() { this.play() })
  })
</script>
