---
layout: base
---

<style>
  @import '/styles/invitation.css?{{ site.time | date: '%s' }}';
</style>

<div class="controls">
  Jaga see link või
  <button onclick="window.print()" title="Vali PDF printeri asemel salvestamiseks">Prindi / PDF</button>
  <h4 class="lang">
    <a href="/kutse/" hreflang="en">ET</a>
    <a href="/en/invitation/" hreflang="en">EN</a>
    <a href="/ru/invitation/" hreflang="en">RU</a>
  </h4>
</div>

<img class="bg" src="/img/taust-mets-1.png">
<div class="block">
  <a href="{%if page.lang == 'et'%}/{%else%}/{{ page.lang }}{%endif%}">
    <img src="/img/logo.png" class="logo" alt="Torela mängumaa">
  </a>

  {{ content }}
</div>

<script src="/js/api.js?{{ site.time | date: '%s' }}"></script>
<script src="/js/invitation.js?{{ site.time | date: '%s' }}"></script>
