---
layout: base
---

<style>
  @import '/styles/invitation.css?{{ site.time | date: '%s' }}';
</style>

<div class="controls">
  {%if page.lang == 'et'%}
    Jaga see link või
    <button onclick="window.print()" title="Vali PDF printeri asemel salvestamiseks">Prindi / PDF</button>
    <button class="add-name">Sõbra nimi</button>
  {%endif%}
  {%if page.lang == 'en'%}
    Share this link or
    <button onclick="window.print()" title="Choose PDF instead of a printer to save">Print / PDF</button>
    <button class="add-name">Friend's name</button>
  {%endif%}
  {%if page.lang == 'ru'%}
    Поделитесь ссылкой или
    <button onclick="window.print()" title="Для сохранения выберите PDF вместо принтера">Печать / PDF</button>
    <button class="add-name">Имя друга</button>
  {%endif%}
  <h4 class="lang">
    <a href="/kutse/" hreflang="en">ET</a>
    <a href="/en/invitation/" hreflang="en">EN</a>
    <a href="/ru/invitation/" hreflang="en">RU</a>
  </h4>
</div>

<img class="bg" src="/img/taust-mets-1.png">
<div class="block">
  <a href="{%if page.lang == 'et'%}/{%else%}/{{ page.lang }}{%endif%}">
    <img src="/img/logo.png" class="logo" alt="Torela mängumaa">
  </a>

  {{ content }}
</div>

<script src="/js/api.js?{{ site.time | date: '%s' }}"></script>
<script>var api = new API('{{ site.api }}')</script>
<script src="/js/invitation.js?{{ site.time | date: '%s' }}"></script>
