.calendar {
  text-align: center;
}

.calendar table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid lightgray;
  line-height: 1.5;
}

.calendar table td {
  width: 14.28%;
  border: 1px solid lightgray;
  vertical-align: top;
}

.calendar__head-days {
  border-radius: 6px 6px 0 0;
}

.calendar__head-days td {
  background: lightgray;
}

#calendar-body {
  border-radius: 0 0 6px 6px;
}

#calendar-body td {
  text-align: left;
  padding: 0.5em;
}

.calendar__day {
  width: 1.5em;
  text-align: center;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
}

.calendar-cell-gray .calendar__day {
  color: grey;
  background: none;
}

.calendar-cell-today .calendar__day {
  background: grey;
  color: white;
}

.calendar__nav {
  line-height: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.calendar__btn {
  background: lightgray;
  width: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.calendar .event {
  background-color: lightgreen;
  border-radius: 6px;
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  cursor: pointer;
  transition: all 0.5s;
}

.calendar .event:hover {
  color: white;
  background-color: green;
}

.calendar .event.booked {
  background-color: lightcoral;
}
