table.calendar {
  text-align: center;
  width: 100%;
  border-spacing: 0;
  line-height: 1.5;
}

table.calendar tbody {
  border-radius: 0 0 6px 6px;
  border: 1px solid lightgray;
}

table.calendar tbody td {
  width: 14.28%;
  vertical-align: top;
  border: 2px solid lightgray;
  border-right: 0;
  border-top: 0;
}

table.calendar tbody td:last-of-type {
  border-right: 2px solid lightgrey;
}

.calendar__head-days {
  border-radius: 6px 6px 0 0;
}

.calendar__head-days th {
  background: lightgray;
}

table.calendar tbody td {
  text-align: left;
  padding: 0.5em;
}

.calendar__day {
  width: 1.5em;
  text-align: center;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
}

.calendar-cell-gray .calendar__day {
  color: grey;
  background: none;
}

.calendar-cell-today .calendar__day {
  background: grey;
  color: white;
}

.calendar__nav {
  line-height: 2;
}

.calendar__nav td {
  padding-bottom: 1rem;
}

.calendar__btn {
  background: lightgray;
  width: 2em;
  border-radius: 50%;
  cursor: pointer;
}

#calendar-left-btn {
  float: left;
}

#calendar-right-btn {
  float: right;
}

.calendar .event {
  background-color: lightgreen;
  border-radius: 6px;
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  cursor: pointer;
  transition: all 0.5s;
}

.calendar .event:hover {
  color: white;
  background-color: green;
}

.calendar .event.loading {
  background-color: lightgrey;
  cursor: wait;
}

.calendar .event.booked {
  background-color: lightcoral;
  cursor: not-allowed;
}

.calendar .event.booked.public {
  background-color: orange;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #calendar-wrap {
    margin: 0 -1rem;
    border: none;
    border-radius: 0;
    overflow-x: scroll;
  }
}