body {
  background-position: center -500px;
  text-align: center;
}

body > .block {
  width: 800px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

a {
  color: black;
}