html {
  font-size: 20pt;
}

body {
  text-align: center;
  background-image: none;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.block {
  box-sizing: border-box;
  width: 480pt;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 10pt;
  padding-bottom: 1rem;
}

.logo {
  position: absolute;
  padding: 0;
  width: 80pt;
  height: 80pt;
  top: -50pt;
  left: 0;
  right: 0;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 1pt 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 0.75rem;
}

h4:first-of-type {
  margin-top: 1rem;
}

a, b {
  color: black;
  margin: 0 0.3em;
}

@media screen {
  .bg {
    top: -20vh;
  }

  .block {
    top: 50%;
    transform: translateY(-50%);
  }

  .controls {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}

@media screen and (orientation: portrait) {
  html {
    font-size: 20px;
  }

  .bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .block {
    width: 90%;
  }
}

@media print {
  .bg {
    height: 390pt;
  }

  .block {
    top: 60pt;
  }

  .controls {
    display: none;
  }
}