@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  max-width: 1160px;
  padding: 1rem;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #849f4b;
}

a:hover {
  text-decoration: underline;
  color: #849f4b;
}

header {
  position: relative;
}

.logo {
  padding: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  transition: 2s transform;
  animation: 500ms logo-initial ease-in-out;
}

.logo:hover {
  transform: rotateZ(360deg);
}

@keyframes logo-initial {
  0% { transform: rotateZ(0deg); }
  40% { transform: rotateZ(30deg); }
  80% { transform: rotateZ(-10deg); }
  100% { transform: rotateZ(0deg); }
}

nav {
  font-size: 1.3rem;
  line-height: 50px;
  padding: 78px 0 90px;
}

nav a {
  padding: 0 10px;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  display: inline-block;
  transition: transform 0.1s;
}

nav a:hover {
  transform: rotateZ(5deg);
}

nav a.active, nav a:hover {
  color: #849f4b;
  text-decoration: none;
}

nav a.active {
  border-bottom: 1px dashed;
}

.lang {
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  background: #f9f9f9;
}

.timify-button {
  float: right;
  margin-top: -75px;
  font-size: 1.3rem;
  background: #bde265;
  border: none;
  cursor: pointer;
}

.timify-button:hover {
  opacity: 0.8;
}

main::after {
  content: '';
  display: block;
  clear: both;
}

.block {
  border: 1px dashed lightgray;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

main > h1 {
  margin-top: 0;
}

main > p:last-child {
  margin-bottom: 0;
}

input:not([type=checkbox]):not([type=radio]), button, textarea, select {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

input:not([type=checkbox]):not([type=radio]) {
  border: 1px solid lightgray;
}

.form-row {
  padding: 0.5rem 0;
}

#subscribe {
  width: 540px;
  height: 305px;
  margin: -12px;
  overflow: hidden;
}

.fb-page {
  float: right;
  width: 300px;
  margin-top: -3em;
}

#map {
  width: 600px;
  height: 500px;
  float: right;
  margin-top: -3rem;
}

@media screen and (max-width: 900px) {
  .block {
    padding: 0;
    border: none;
  }

  #subscribe {
    width: 100%;
  }

  #map {
    float: none;
    margin-top: 0;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 590px) {
  .logo {
    width: 140px;
    height: 140px;
  }

  nav {
    padding-top: 160px;
  }

  .timify-button {
    width: 100%;
  }

  .fb-page {
    display: none !important;
  }
}
