@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  max-width: 1160px;
  padding: 0 1rem 1rem;
  margin: 0 auto;
  background: #064c27 url(/img/taust-mets-1.png) center -200px no-repeat;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 2.5rem;
}

:focus {
  outline: 1px dotted lightgray;
}

a {
  text-decoration: none;
  color: #849f4b;
}

a:not(.button):hover {
  text-decoration: underline;
  color: #849f4b;
}

body > header {
  position: relative;
  padding-top: 1rem;
}

.logo {
  padding: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  transition: 0.3s transform;
}

.logo:hover {
  transform: rotateZ(-25deg);
}

nav {
  font-family: 'Amatic SC', cursive;
  font-size: 2.1rem;
  line-height: 50px;
  padding: 78px 0 90px;
}

nav a {
  padding: 0 10px;
  color: black;
  display: inline-block;
  transition: transform 0.2s;
}

nav a:hover {
  transform: rotateZ(5deg);
}

nav a.active, nav a:hover {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  border-bottom: 1px dashed;
}

.lang {
  position: absolute;
  top: 1rem;
  right: 0;
  font-weight: bold;
}

.book-now {
  float: right;
  margin-top: -75px;
  font-size: 1.3rem;
  background: #bde265;
  text-align: center;
  border: none;
  cursor: pointer;
}

.book-now:hover {
  opacity: 0.8;
}

main {
  background: url(/img/footer.png) center bottom no-repeat;
}

main::after {
  content: '';
  display: block;
  clear: both;
  height: 240px;
}

.block {
  border: 1px dashed lightgray;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(255,255,255,0.9);
}

main > h1 {
  margin-top: 0;
}

main > p:last-child {
  margin-bottom: 0;
}

main video {
  float: right;
  margin: 0 0 1rem 1rem;
  border-radius: 1rem;
  max-width: 100%;
}

body > footer .icon {
  height: 1.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

input:not([type=checkbox]):not([type=radio]), button, .button, textarea, select {
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  max-width: 100%;
  box-sizing: border-box;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  border: 1px solid lightgray;
}

.form-row {
  padding: 0.5rem 0;
}

#subscribe {
  width: 440px;
  max-width: 100%;
  box-sizing: border-box;
}

.fb-page {
  clear: right;
  float: right;
  width: 300px;
  margin: 0 0 1rem 1rem;
}

#map {
  width: 600px;
  height: 500px;
  float: right;
  margin-top: -3rem;
}

#big-image {
  position: relative;
  text-align: center;
}

#big-image img {
  max-width: 100%;
  max-height: 80vh;
}

#big-image .prev, #big-image .next {
  position: absolute;
  display: block;
  top: 45%;
  left: 0;
  width: 2.5rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}

#big-image .prev:hover, #big-image .next:hover {
  background: rgba(255,255,255,0.9);
}

#big-image .next {
  left: initial;
  right: 0;
}

.thumbs {
  text-align: center;
}

.thumbs img {
  cursor: pointer;
  height: 80px;
}

.thumbs img.active {
  outline: 1px dashed gray;
  outline-offset: 1px;
}

@media screen and (max-width: 900px) {
  .block {
    padding: 1rem;
  }

  #subscribe {
    width: 100%;
  }

  #map {
    float: none;
    margin-top: 0;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 590px) {
  .logo {
    width: 140px;
    height: 140px;
  }

  nav {
    padding-top: 160px;
  }

  .book-now {
    width: 100%;
  }

  .fb-page {
    display: none !important;
  }
}
