html {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  max-width: 1160px;
  padding: 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #849f4b;
}

a:hover {
  text-decoration: underline;
  color: #849f4b;
}

header {
  position: relative;
}

.logo {
  padding: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  transition: 2s transform;
  animation: 2s rotateY;
}

.logo:hover {
  transform: rotateZ(360deg);
}

@keyframes rotateY {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.tagline {
  position: absolute;
  top: 2rem;
  right: 0;
  margin-left: 200px;
  text-align: right;
  color: lightgray;
  font-weight: bold;
  font-size: 2rem;
}

.tagline a {
  color: inherit;
}

nav {
  font-size: 1.3rem;
  line-height: 50px;
  padding: 95px 0;
}

nav a {
  padding: 0 10px;
  color: black;
}

nav a.active {
  color: #849f4b;
  text-decoration: underline;
}

nav .lang {
  float: right;
}

nav .lang a {
  padding-right: 0;
}

@media screen and (max-width: 1100px) {
  .tagline {
    top: 3rem;
    font-size: 1.5rem;
  }

  .lang {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 900px) {
  .tagline {
    font-size: 1rem;
  }
}

@media screen and (max-width: 590px) {
  .logo {
    width: 140px;
    height: 140px;
  }

  .tagline {
    margin-left: 160px;
  }

  nav {
    padding-top: 160px;
  }
}

.timify-button {
  float: right;
  margin-top: -4.5rem;
  font-size: 1.3rem;
  background: #bde265;
  border: none;
  cursor: pointer;
}

.timify-button:hover {
  opacity: 0.8;
}

main {
  clear: both;
}

.block {
  border: 1px dashed lightgray;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

main > h1 {
  margin-top: 0;
}

main > p:last-child {
  margin-bottom: 0;
}

input:not([type=checkbox]):not([type=radio]), button, textarea, select {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

input:not([type=checkbox]):not([type=radio]) {
  border: 1px solid lightgray;
}

.form-row {
  padding: 0.5rem 0;
}
